@model Restaurant_Management.Models.Waiter

<!DOCTYPE html>

<html>
<head>
    <title>Details</title>
</head>
<body>
<div>
    <p>@Model.Id</p>
    <p>@Model.Name</p>
    <p>@Model.LastNames</p>
    <p>@Model.Shift</p>
    <p>@Model.Experience</p>
</div>
</body>
</html>