
@model Restaurant_Management.Models.Client

<!DOCTYPE html>

<html>
<head>
    <title>Details</title>
</head>
<body>
<div>
    <p>@Model.Id</p>
    <p>@Model.Name</p>
    <p>@Model.LastNames</p>
    <p>@Model.Email</p>
    <p>@Model.Phone</p>
</div>
</body>
</html>