@model Restaurant_Management.Models.Reservation

<!DOCTYPE html>

<html>
<head>
    <title>Reservation</title>
</head>
<body>
<div>
    <p>@Model.Id</p>
    <p>@Model.Date</p>
    <p>@Model.Hour</p>
    <p>@Model.NumberPeople</p>
    <p>@Model.Observations</p>
    <p>@Model.fk_ClientId</p>
</div>
</body>
</html>