@model Restaurant_Management.ViewModels.ReservationsViewModel

<!DOCTYPE html>

<html>
<head>
    <title>Reservations</title>
</head>
<body>
<div>
    <div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <form asp-action="Store" method="post">
                    <div class="mt-4">
                        <label for="">Fecha</label>
                        <input type="date" name="Date" class="form-control" required="required">
                    </div>
                    <div class="mt-4">
                        <label for="">Hora</label>
                        <input type="time" name="Hour" class="form-control" required="required">
                    </div>
                    <div class="mt-4">
                        <label for="">Número de personas</label>
                        <input type="number" name="NumberPeople" class="form-control" required="required">
                    </div>
                    <div class="mt-4">
                        <label for="">Observaciones</label>
                        <textarea name="Observations" class="form-control" cols="30" rows="3"></textarea>
                    </div>
                    <div class="mt-4">
                        <label for="clientId">Cliente</label>
                        <select id="clientId" name="fk_ClientID" class="form-control" asp-items="@(new SelectList(Model.Clients, "Id", "Name"))" required="required">
                            <option value="" disabled selected>-- Seleccione el cliente --</option>
                        </select>
                    </div>
                    <hr>
                    <button class="btn btn-primary w-100">Guardar Reserva</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="card">
            <div class="card-body">
                @if (TempData["message"] != null)
                {
                    <div class="alert alert-success">
                        @TempData["message"]
                    </div>
                }

                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>DATE</th>
                        <th>HOUR</th>
                        <th># OF PEOPLE</th>
                        <th>CLIENT ID</th>
                        <th>ACTIONS</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var reservation in Model.Reservations)
                    {
                        <tr>
                            <th>@reservation.Id</th>
                            <th>@reservation.Date</th>
                            <th>@reservation.Hour</th>
                            <th>@reservation.NumberPeople</th>
                            <th>@reservation.fk_ClientId</th>
                            <th>
                                <a asp-controller="Reservations" asp-action="Details" asp-route-id="@reservation.Id"
                                   class="btn btn-info">Details</a>
                                <a asp-controller="Reservations" asp-action="Edit" asp-route-id="@reservation.Id" class="btn btn-warning">Edit</a>
                                <a asp-controller="Reservations" asp-action="Destroy" asp-route-id="@reservation.Id" class="btn btn-danger">Delete</a>
                            </th>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>