@model Restaurant_Management.Models.Order

<!DOCTYPE html>

<html>
<head>
    <title>Orders</title>
</head>
<body>
<div>
    <p>@Model.Id</p>
    <p>@Model.OrderNumber</p>
    <p>@Model.Date</p>
    <p>@Model.State</p>
    <p>@Model.fk_ClientID</p>
</div>
</body>
</html>