@model Restaurant_Management.ViewModels.OrdersViewModel

<!DOCTYPE html>

<html>
<head>
    <title>Clients</title>
</head>
<body>
<div>
    <div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <form asp-action="Store" method="post">
                    <div class="mt-4">
                        <label for="">Número de orden</label>
                        <input type="text" name="OrderNumber" class="form-control">
                    </div>
                    <div class="mt-4">
                        <label for="">Fecha</label>
                        <input type="date" name="Date" class="form-control">
                    </div>
                    <div class="mt-4">
                        <label for="state">Estado del pedido</label>
                        <select id="state" name="State" class="form-control">
                            <option value="" disabled selected>-- Seleccione un estado de pedido --</option>
                            <option value="Pendiente">Pendiente</option>
                            <option value="Servido">Servido</option>
                            <option value="Cancelado">Cancelado</option>
                        </select>
                    </div>
                    <div class="mt-4">
                        <label for="clientId">Cliente</label>
                        <select id="clientId" name="fk_ClientID" class="form-control" asp-items="@(new SelectList(Model.Clients, "Id", "Name"))">
                            <option value="" disabled selected>-- Seleccione el cliente --</option>
                        </select>
                    </div>
                    <hr>
                    <button class="btn btn-primary w-100">Guardar Pedido</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="card">
            <div class="card-body">
                @if (TempData["message"] != null)
                {
                    <div class="alert alert-success">
                        @TempData["message"]
                    </div>
                }

                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>ORDER NUMBER</th>
                        <th>DATE</th>
                        <th>STATE</th>
                        <th>CLIENT ID</th>
                        <th>ACTIONS</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var order in Model.Orders)
                    {
                        <tr>
                            <th>@order.Id</th>
                            <th>@order.OrderNumber</th>
                            <th>@order.Date</th>
                            <th>@order.State</th>
                            <th>@order.fk_ClientID</th>
                            <th>
                                <a asp-controller="Orders" asp-action="Details" asp-route-id="@order.Id"
                                   class="btn btn-info">Details</a>
                                <a asp-controller="Orders" asp-action="Edit" asp-route-id="@order.Id" class="btn btn-warning">Edit</a>
                                <a asp-controller="Orders" asp-action="Destroy" asp-route-id="@order.Id" class="btn btn-danger">Delete</a>
                            </th>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>