@model Restaurant_Management.Models.Plate

<!DOCTYPE html>

<html>
<head>
    <title>Plate</title>
</head>
<body>
<div>
    <p>@Model.Id</p>
    <p>@Model.Name</p>
    <p>@Model.Description</p>
    <p>@Model.Price</p>
    <p>@Model.Category</p>
</div>
</body>
</html>